<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="univaq.apppub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="it.html.googleservices.push.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/montislogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.LoadActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.EventiActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".controller.CategorieActivity" android:screenOrientation="portrait" />
        <activity android:name=".controller.PiattiActivity"  android:screenOrientation="portrait"/>
        <activity
            android:name=".controller.EventiDettaglioActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controller.PiattiDettaglioActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait"/>

        <service android:name=".util.Network.FireBaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/montislogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".controller.MainActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>